/lib/*
/Test/bin/*
/Test/*.exe
*.res
*.lps
/Test/units/*
*.compiled

/Source/Libraries/ConverterBackup/dwsClassesLibModule.dfm
/Source/Libraries/ConverterBackup/dwsClassesLibModule.pas
/Test/_results/*
