/lib/*
/Test/bin/*
/Test/*.exe
*.res
*.lps
/Test/units/*
dunit2.ini
log.txt
*.compiled

/Source/Libraries/ConverterBackup/dwsClassesLibModule.dfm
/Source/Libraries/ConverterBackup/dwsClassesLibModule.pas
